# Configuration keys required by this project. Values intentionally omitted.
AWS_ACCESS_KEY_ID=
AWS_CONTAINER_CREDENTIALS_RELATIVE_URI=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_WEB_IDENTITY_TOKEN_FILE=
BOOK_LANG=
CSP_ENABLED=
DEBUG=
DOTENV_CONFIG_DEBUG=
DOTENV_CONFIG_DOTENV_KEY=
DOTENV_CONFIG_ENCODING=
DOTENV_CONFIG_OVERRIDE=
DOTENV_CONFIG_PATH=
DOTENV_KEY=
GENERATE_CODE_POINTS=
MONGO_URI=
MONGODB_CRYPT_DEBUG=
MONGODB_LOG_ALL=
MONGODB_LOG_CLIENT=
MONGODB_LOG_COMMAND=
MONGODB_LOG_CONNECTION=
MONGODB_LOG_MAX_DOCUMENT_LENGTH=
MONGODB_LOG_PATH=
MONGODB_LOG_SERVER_SELECTION=
MONGODB_LOG_TOPOLOGY=
NODE_UNIQUE_ID=
PATH=
SUPPRESS_JEST_WARNINGS=
